<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164178478346-ntmront5oh022t8ke04hfm68iafvst4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164178478346-ntmront5oh022t8ke04hfm68iafvst4k</string>
	<key>API_KEY</key>
	<string>AIzaSyAuEPStghJwLReZnLAPRNt8hWDfsrkLdLc</string>
	<key>GCM_SENDER_ID</key>
	<string>164178478346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Margels.DemoAppCourier</string>
	<key>PROJECT_ID</key>
	<string>democourierapp</string>
	<key>STORAGE_BUCKET</key>
	<string>democourierapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164178478346:ios:178c0e567715bad9dda6f3</string>
</dict>
</plist>